#dashboard > FOOTER {
    // Mobile First
    ARTICLE {
        text-align: center;
    }
    .brand-logo {
        height: @font-size-base;
        margin-bottom: ((@line-height-computed * 1) - @font-size-base);
    }

    // Tablet width and up
    @media (min-width: @screen-tablet) {
        .legal {
            text-align: left;
        }
        .brand {
            text-align: right;
        }
    }
}