<div class="loading-ring outer-loading-ring">
    <div class="loading-ring middle-loading-ring">
        <div class="loading-ring inner-loading-ring">&nbsp;</div>
    </div>
</div>
<!-- TODO: Adapt for browsers without CSS Animation (IE9) -->
<p class="text-center"><span data-name='text'></span>&hellip;</p>
