<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {{#if icon}}
            <div class="modal-alert-icon">{{ icon }}</div>
            {{/if}}

            <div class="modal-alert-message">{{ message }}</div>

            {{#if information}}
            <div class="modal-alert-information">{{ information }}</div>
            {{/if}}
        </div>
        <footer class="modal-footer"></footer>
    </div>
</div>
