<div class="modal-dialog">
    <div class="modal-content">
        {{#if title}}
        <div class="modal-header">
            <h4>{{title}}</h4>
        </div>
        {{/if}}
        <form class="modal-body" role="form"></form>
        <footer class="modal-footer">
            <button class="btn btn-default reset">Reset</button>
            <button class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary submit">Submit</button>
        </footer>
    </div>
</div>
