<div class="control-group">
    <label class="control-label">Severity:</label>
    <div class="controls">
        <select required="required">
            <option value="Optional">Optional</option>
            <option value="Recommended">Recommended</option>
            <option value="Critical">Critical</option>
        </select>
    </div>
</div>