<footer id="page-footer">
    <div class="container">
        <section class="row">
            <article class="legal col-sm-9">© 2012 <a href="http://toppatch.com">
                TopPatch Inc.</a> All rights reserved.
            </article>
            <article class="brand col-sm-3">
                <a href="http://toppatch.com">
                    <img class="brand-logo" src="images/brand-name.png" alt="TopPatch">
                </a>
            </article>
        </section>
    </div>
</footer>
