<div class="form-group">
    <label class="control-label">Full Name:</label>
    <div>
        <input name="fullname" type="text" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label">E-mail:</label>
    <div>
        <input name="email" type="text" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Username:</label>
    <div>
        <input name="username" type="text" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Password:</label>
    <div>
        <input name="password" type="password" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Groups:</label>
    <div>
        <select name="groups" multiple="multiple" placeholder="Add to group">
            <option></option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Customers:</label>
    <div>
        <select name="customers" multiple="multiple" placeholder="Add to Customer">
            <option></option>
        </select>
    </div>
</div>
