<div class="col-md-5">
    <span class="btn btn-primary fileinput-button">
        <i class="icon-plus icon-white"></i>
        <strong>Add File</strong>
        <input type="file" name="pkg">
    </span><br><br>
    <table class="table table-bordered table-condensed" style="width: 100%; table-layout: fixed;" data-id="fileTable">
        <tbody><tr>
            <td>No package selected</td>
        </tr>
    </tbody></table>
</div>
<div class="col-md-7">
    <table style="width: 100%">
        <tbody><tr>
            <td class="form-group">
                <label class="control-label">Severity:</label>
                <div>
                    <select name="severity" class="col-md-12">
                        <option value="0">Select one...</option>
                        <option>Optional</option>
                        <option>Recommended</option>
                        <option>Critical</option>
                    </select>
                </div>
            </td>
            <td class="form-group">
                <label class="control-label">Architecture:</label>
                <div>
                    <select name="arch" class="col-md-12">
                        <option value="0">Select one...</option>
                        <option>32</option>
                        <option>64</option>
                        <option>Noarch</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label class="control-label">Operating System:</label>
                <div>
                    <select name="operating_system" class="col-md-12">
                        <option value="0">Select one...</option>
                        <option value="windows">Windows</option>
                        <option value="linux">Linux</option>
                        <option value="darwin">Darwin</option>
                    </select>
                </div>
            </td>
            <td class="form-group">
                <label class="control-label">Release Date:</label>
                <div>
                    <input type="text" name="release_date" class="col-md-12">
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label class="control-label">Major Version:</label>
                <div>
                    <input type="text" name="major_version" class="col-md-12">
                </div>
            </td>
            <td class="form-group">
                <label class="control-label">Minor Version:</label>
                <div>
                    <input type="text" name="minor_version" class="col-md-12">
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <label class="control-label">Vendor Name:</label>
                <div>
                    <input type="text" name="vendor_name" class="col-md-12">
                </div>
            </td>
            <td class="form-group">
                <label class="control-label">Silent Install Options:</label>
                <div>
                    <input type="text" name="cli_options" class="col-md-12">
                </div>
            </td>
        </tr>
        <tr>
            <td class="form-group" colspan="2">
                <label class="control-label">Description:</label>
                <div>
                    <input type="text" name="description" class="col-md-12">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span class="help-online"></span>
            </td>
        </tr>
    </tbody></table>
</div>
