<div class="form-group">
    <label class="control-label">Severity:</label>
    <div>
        <select required="required" name="severity">
            {{#options options}}{{/options}}
        </select>
    </div>
</div>