<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            {{#if icon}}
            <div class="modal-alert-icon">{{ icon }}</div>
            {{/if}}

            <div class="modal-alert-title">
                {{#if message}}
                {{ message }}
                {{else}}
                No Message
                {{/if}}
            </div>

            {{#if information}}
            <div class="modal-alert-message">{{ information }}</div>
            {{/if}}

            <div class="modal-alert-buttons text-right">
                <button class="btn {{ defButton.btn-style }}" data-tagid="{{ defButton.tag }}">
                    {{#if defButton.title}}
                    {{defButton.title}}
                    {{else}}
                    No Title
                    {{/if}}
                </button>
                {{#if altButton}}
                <button class="btn {{ altButton.btn-style }}" data-tagid="{{ altButton.tag }}">
                    {{ altButton.title }}
                </button>
                {{/if}}
                {{#if othButton}}
                <button class="btn {{ othButton.btn-style }}" data-tagid="{{ othButton.tag }}">
                    {{ othButton.title }}
                </button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
